<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    {% block stylesheets %}{% endblock %}
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }
        @media (max-width: 1250px) {
            .grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
            }
        }
        .filter {
            display: block;
            position: sticky;
            top: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="{{ path('index') }}" class="navbar-brand mb-0">OFILDELO</a>
    <a href="{{ path('index') }}" class="navbar-brand mb-0">Mes Favoris</a>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
