{% extends 'base.html.twig' %}

{% block title %}OPENDATA !{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9">
                <div class="grid">
                    {% for ponts in datas %}
                        {% include('index/_card.html.twig') %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="filter">
                    <h2 class="h2">Affiner critères</h2>
                    <div class="card">
                        <p>mettre un formulaire de critere : <br>
                            - searchbar <br>
                            - par numero ASC/DESC <br>
                            - par ordre ASC/DESC <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


